* {
	margin: 0;
	box-sizing: border-box;
	font-size: large;
}
/* button  */
body {
	font-weight: bold;
}
.title {
	padding: 10px;
	margin-right: 26em;
}
button {
	border-radius: 4px;
	border: none;
	background-color: #ff9100;
	font-size: 1em;
	margin: 5px;
}

button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

button:hover span {
	padding-right: 25px;
}

button:hover span:after {
	opacity: 1;
	right: 0;
}

#logoff,
#logon,
#register {
	border-radius: 0.1em;
	font-size: 1.4em;
	padding: 10px;
}

#message,
#tasks-message {
	text-align: center;
}

/* Form  */
#add- form {
	box-shadow: 10px 10px 8px rgb(98, 98, 98);
	padding: 10px;
	border: rgb(252, 252, 252);
	text-align: center;
	background-color: #c73535;
	max-width: max-content;
	margin: auto;
	margin-top: 5em;
	border-radius: 1em;
}
/* Sidebar */
.sidebar {
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: #ca2c2c;
	list-style: none;
	transition: all 0.5s ease;
}
.sidebar header {
	font-size: 22px;
	color: white;
	text-align: center;
	line-height: 70px;
	background: #ca2c2c;
	user-select: none;
}
.sidebar div a {
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: rgb(255, 255, 255);
	padding-left: 55px;
	box-sizing: border-box;
	border-top: 1px solid rgb(244, 102, 0);
	border-bottom: 1px solid black;
}

.sidebar li:hover a {
	padding-left: 50px;
}

.sidebar div a i {
	margin-right: 16px;
}
.check {
	display: none;
}
label .fa-bars {
	position: absolute;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.64);
	border-radius: 3px;
}
label .fa-times {
	position: absolute;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.792);
	border-radius: 3px;
}

label .fa-bars {
	left: 40px;
	top: 25px;
	font-size: 35px;
	color: #ff9100;
	background-color: #000000;
	padding: 5px 12px;
	transition: all 0.5s;
}
label .fa-times {
	z-index: 1111;
	left: -195px;
	top: 17px;
	font-size: 30px;
	color: #ff9100;
	background-color: #000000;
	padding: 4px 9px;
	transition: all 0.5s ease;
}
.check:checked ~ .sidebar {
	left: 0;
}
.check:checked ~ label .fa-bars {
	left: 250px;
	opacity: 0;
	pointer-events: none;
}
.check:checked ~ label .fa-times {
	left: 195px;
}
.check:checked ~ html {
	margin-left: 250px;
}

.nav {
	display: flex;
	justify-content: end;
}
tr {
	border: #000000 solid 2px;
}
tr,
td,
th {
	padding-left: 20px;
}

#tasks {
	justify-content: center;
	color: #000000;
	margin: 3em 16em;
	padding: 10px;
}

#logon-div,
#register-div {
	margin-left: 50em;
}
#logon-register {
	margin: 1em;
}
.main {
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	transition: all 0.5s;
}
form {
	margin: 5em;
	color: #010101;
	padding: 10px;
}
form input {
	margin-top: 10px;
}
